body {
    background-color: #DEDEDE;
    height: 100vh;
}

header {
    height: 60px;
}



nav > div > a > img {
    width: 150px;
}

main {
    min-height: calc(100vh - 140px);
}

footer {
    height: 80px;
}

footer > ul > li > a > img {
    width: 40px;
    height: auto;
}

.carousel {
    height: 300px;
}

.card {
    width: 280px;
    height: 450px;
}